body{background-color: black;}
h1 {
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
h1 {text-align: center;}
h1{font-size: xx-large;}
h1{color: rgb(72, 245, 37);}
h2 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h2{font-size: x-large;}
  h2{color: azure;}
  h3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h3{font-size: x-large;}
  h3{color: aliceblue;}
  
  